.news__wrapper {
    flex: 1;
}
.news__heading {
    color: $secondary-color;
    &::before,
    &::after {
        background-color: #e5e5e5;
    }
}
.news__subscribe-btn {
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 290px;
    line-height: 50px;
    color: $main-color;
    font-family: "CoreSans", sans-serif;
    font-size: 0.75rem;
    background-color: $secondary-color;
    @include btn_2(260px, rgba(183, 157, 124, 0.5));
}
.news__ist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news__item {
    width: 48%;
    padding: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.news__item_id-1 {
    background-image: url('../img/main/news/news_item_1.jpg');
}
.news__item_id-2 {
    background-image: url('../img/main/news/news_item_2.jpg');
}
.news__item_inner-border {
    width: 100%;
    height: 100%;
    border: 1px solid $main-color;
}
.news__item_content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(0,0,0,0.75);
    padding: 20px 30px 0px;
}
.news__item_heading {
    font-size: 1.5rem;
    font-family: 'Cormorant', sans-serif;
    font-weight: 600;
    line-height: 26px;
    color: $main-color;
    font-variant: small-caps;
    letter-spacing: 1.2px;
    &:after {
        content: '';
        display: block;
        width: 52px;
        height: 3px;
        margin: 17px 0px;
        background-image: url('../img/main/main_page_icons_spritesheet.png');
        background-repeat: no-repeat;
        background-position: -239px -2px;
    }
}
.news_more-btn {
    @include btn_1(225px);
    width: 225px;
    margin: 25px auto 40px;
    a {
        line-height: 40px;
    }
}