// Header start
.header__fixed {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
.nav-container {
    background-color: $black-color;
  }
.nav {
display: flex;
justify-content: space-between;
align-items: center;
&>ul {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.nav__left,
.nav__right {
width: 42%;
}

.nav__item {
a {
    color: $main-color;
}
}

.nav__item_desk {
a { 
    color: $secondary-color;
    transition: color 0.3s;
    &:hover {
    color: $main-color;
    }
}
}

.nav__menu-btn {
min-width: 80px;
display: flex;
justify-content: space-between;
}

.nav__menu-lines {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-end;
}

.nav__menu-line {
height: 1px;
background-color: $main-color;
}

.nav__menu-line_first {
width: 40px;
}

.nav__menu-line_second {
width: 22px;
}

.nav__menu-line_third {
width: 32px;
}

.nav__icon{
background-image: url('../img/main/main_page_icons_spritesheet.png');
background-repeat: no-repeat;
}

.nav__webcam_icon {
width: 17px;
height: 20px;
background-position: -74px 0;
}

.nav__mail_icon {
width: 19px;
height: 16px;
background-position: -12px 0;
}

.nav__map_icon {
width: 14px;
height: 20px;
background-position: -35px 0;
}

.nav__arrow_icon {
width: 6px;
height: 8px;
background-position: -2px 0;
}

.nav__logo {
width: 84px;
height:60px;
background-image: url('../img/common/arsenal_house_logo.svg');
background-position: center;
background-repeat: no-repeat;
}

.nav__callback-btn {
a {
    padding: 14px 17px 13px 15px;
    border: 1px solid $secondary-color;
}
}
.nav__callback-btn_mobile {
display: none;
}
.nav__icon_mobile {
display: none;
}
.nav__phone_icon {
    width: 20px;
    height: 20px;
    background-position: -52px 0;
}
.language-select {
    height: 17px;
    width: 35px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    ul {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        overflow: hidden;
        display: inline-block;
    }
    .nav__arrow_icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    &.language-select__expanded {
        ul {
            height: 60px;
        }
    }
}
