@include font-face("CoreSans", "../fonts/CoreSans/CoreSansRegular");
@include font-face("CoreSans", "../fonts/CoreSans/CoreSansLight", 300);
@include font-face("CoreSans", "../fonts/CoreSans/CoreSansLightItalic", 300, "italic");
@include font-face("CoreSans", "../fonts/CoreSans/CoreSansThin", 100);
@include font-face("Annabelle", "../fonts/Annabelle/Annabelle");
@include font-face("Cormorant", "../fonts/Cormorant/CormorantRegular");
@include font-face("Cormorant", "../fonts/Cormorant/CormorantSemiBold", 600);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 0.75rem;
    color: #fff;
    line-height: 1.25rem;
    letter-spacing: 0.6px;
    font-family: "CoreSans", sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

